.bg-fill {
  width: 100%;
  min-height: 90vh;
  background-color: #f4f4fd;
  background-image: url('https://www.transparenttextures.com/patterns/climpek.png');
}

.board {
  display: flex;
  justify-content: center;
  gap: 10px;
  max-width: 95%;
  margin: auto;
  padding-top: 20px;
}

.board-title {
  padding-top: 20px;
  text-align: center;
}
